<div id="hasCrossSell_122141" class="product hasCrossSell ">
   <div class="productInfo">
      <div class="productNameAndPromotions">
         <h3>
            <a href="../../../../../../shop/gb/groceries/berries-cherries-currants/sainsburys-strawberries--taste-the-difference-300g.html">
            Sainsbury's Strawberries, Taste the Difference 300g
            <img src="../../../../../../../c2.sainsburys.co.uk/wcsstore7.23.1.52/ExtendedSitesCatalogAssetStore/images/catalog/productImages/08/0000001800708/0000001800708_L.jpg" alt="">
            </a>
         </h3>
      </div>
   </div>
   <div class="addToTrolleytabBox">
      <!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
         If the user is not logged in, render this opening
         DIV adding an addtional class to fix the border top which is removed
         and replaced by the tabs
         -->
      <div class="addToTrolleytabContainer addItemBorderTop">
         <!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
            ATTENTION!!!
            <div class="addToTrolleytabContainer">
            This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
            -->
         <!--  <div class="pricingAndTrolleyFormWrapper"> -->
         <div class="pricingAndTrolleyOptions">
            <div class="priceTab activeContainer priceTabContainer" id="addItem_122141">
               <div class="pricing">
                  <p class="pricePerUnit">
                     £2.50<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
                  </p>
                  <p class="pricePerMeasure">£8.33<abbr title="per">/</abbr><abbr title="kilogram"><span class="pricePerMeasureMeasure">kg</span></abbr>
                  </p>
               </div>
               <div class="addToTrolleyForm ">
                  <!-- BEGIN AddToTrolley.jsp --><!-- fire an on add to bag here from  -->
                  <form class="addToTrolleyForm" name="OrderItemAddForm_122141" action="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/gb/groceries/OrderItemAdd" method="post" id="OrderItemAddForm_122141">
                     <input type="hidden" name="storeId" value="10151">
                     <input type="hidden" name="langId" value="44">
                     <input type="hidden" name="catalogId" value="10123">
                     <input type="hidden" name="errorViewName" value="CategoryDisplayView">
                     <input type="hidden" name="SKU_ID" value="7511198">
                     <input type="hidden" name="itemType" value="">
                     <input type="hidden" name="ItemSKU_ID" value="7511198">
                     <label class="access" for="quantity_122140">Quantity</label>
                     <input name="quantity" id="quantity_122140" type="text" size="3" value="1" class="quantity">
                     <input type="hidden" name="catEntryId" value="122141">
                     <input type="hidden" name="productId" value="122140">
                     <input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;langId=44&amp;storeId=10151&amp;krypto=DiexKMV6VNfttm96bidCJW9VwVpyuXivgK5RapEr%2F1tOYmh4OCk10AVK5CaB3Yi6FFDZ3QKw8L0r3rATu6UcoQBY6ZDb%2ByG%2BZeRJrjKst%2B4gw4oCl%2Bcz3Bya2vManzZc44GH64eq9euGfffnFahovteIDFagnmf43nXVx6mqkUU%3D&amp;ddkey=http%3Agb%2Fgroceries%2Fberries-cherries-currants">
                     <input type="hidden" name="page" value="">
                     <input type="hidden" name="contractId" value="">
                     <input type="hidden" name="calculateOrder" value="1">
                     <input type="hidden" name="calculationUsage" value="-1,-2,-3">
                     <input type="hidden" name="updateable" value="1">
                     <input type="hidden" name="merge" value="***">
                     <input type="hidden" name="callAjax" value="false">
                     <input class="button process" type="submit" name="Add" value="Add">
                  </form>
                  <!-- END AddToTrolley.jsp -->
                  <div class="numberInTrolley hidden numberInTrolley_122140" id="numberInTrolley_122140">
                  </div>
               </div>
            </div>
            <!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
         </div>
         <!-- </div> -->
      </div>
   </div>
   <!--ThumbnailRestriction -->
   <div class="errorBanner hidden" id="error122141"></div>
   <div id="additionalItems_122141" class="additionalItems">
      <!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- BEGIN CatalogEntryThumbnailMerchandisingAssociation.jspf -->
      <div id="sitecatalyst_SELL_TYPE_708978" class="siteCatalystTag">X-SELL</div>
      <div class="crossSell">
         <div class="crossSellTitle">
            <!-- BEGIN ContentDisplay.jsp -->
            <img src="../../../../../../wcsstore7.23.1.52/SainsburysStorefrontAssetStore/wcassets/merchandising_associations/lunchbox_favourites_grid_202x32.gif" alt="wcassets/merchandising_associations/lunchbox_favourites_grid_202x32.gif" border="0">
            <!-- end: ContentDisplay.jsp -->
         </div>
         <div class="errorBanner hidden" id="error124100708979"></div>
         <div class="crossSellContent">
            <div class="pricingAndTrolleyFormWrapper">
               <div class="pricingReviews">
                  <div class="pricing">
                     <p class="pricePerUnit">
                        £2.50<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
                     </p>
                     <p class="pricePerMeasure">£2.50<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
                     </p>
                  </div>
               </div>
               <div class="addToTrolleyForm ">
                  <!-- BEGIN AddToTrolley.jsp --><!-- fire an on add to bag here from  -->
                  <form class="addToTrolleyForm" name="OrderItemAddForm_708979_124100" action="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/gb/groceries/OrderItemAdd" method="post" id="OrderItemAddForm_124100_708979">
                     <input type="hidden" name="storeId" value="10151">
                     <input type="hidden" name="langId" value="44">
                     <input type="hidden" name="catalogId" value="10123">
                     <input type="hidden" name="errorViewName" value="CategoryDisplayView">
                     <input type="hidden" name="SKU_ID" value="125775635">
                     <input type="hidden" name="itemType" value="X-SELL">
                     <input type="hidden" name="ItemSKU_ID" value="125775635">
                     <label class="access" for="quantity_708978">Quantity</label>
                     <input name="quantity" id="quantity_708978" type="text" size="3" value="1" class="quantity">
                     <input type="hidden" name="catEntryId" value="708979">
                     <input type="hidden" name="productId" value="708978">
                     <input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;langId=44&amp;storeId=10151&amp;krypto=DiexKMV6VNfttm96bidCJW9VwVpyuXivgK5RapEr%2F1tOYmh4OCk10AVK5CaB3Yi6FFDZ3QKw8L0r3rATu6UcoQBY6ZDb%2ByG%2BZeRJrjKst%2B4gw4oCl%2Bcz3Bya2vManzZc44GH64eq9euGfffnFahovteIDFagnmf43nXVx6mqkUU%3D&amp;ddkey=http%3Agb%2Fgroceries%2Fberries-cherries-currants">
                     <input type="hidden" name="page" value="">
                     <input type="hidden" name="contractId" value="">
                     <input type="hidden" name="calculateOrder" value="1">
                     <input type="hidden" name="calculationUsage" value="-1,-2,-3">
                     <input type="hidden" name="updateable" value="1">
                     <input type="hidden" name="merge" value="***">
                     <input type="hidden" name="callAjax" value="false">
                     <input class="button process" type="submit" name="Add" value="Add">
                  </form>
                  <!-- END AddToTrolley.jsp -->
                  <div class="numberInTrolley hidden numberInTrolley_708978" id="numberInTrolley_708978">
                  </div>
               </div>
            </div>
            <div class="crossSellInfo">
               <h4 class="crossSellName">
                  <span class="access">Try this product with </span>
                  <a href="../../../../../../shop/gb/groceries/sainsburys-140ml-klip-lock-storage-set---3pk.html">
                  Sainsbury's Klip Lock Storage Set 140ml x3
                  <img src="../../../../../../wcsstore7.23.1.52/ExtendedSitesCatalogAssetStore/images/catalog/productImages/80/5054014273580/5054014273580_S.jpg" alt="">
                  </a>
               </h4>
            </div>
         </div>
         <!--ThumbnailRestriction -->
      </div>
      <!-- END CatalogEntryThumbnailMerchandisingAssociation.jspf --><!-- END MerchandisingAssociationsDisplay.jsp -->
   </div>
   <!-- END CatalogEntryThumbnailDisplay.jsp -->
</div>